@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: #126516;
}
.container{
            display: flex;        
            flex-wrap: wrap;      
            gap: 120px;  
            font-size: 25px;         
        }
        
.centro{
    font-size: 30px;
}
.card-footer {
  border: none;       
  box-shadow: none;   
  background: transparent; 
}
